{extend name="$laket_admin_layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">全部用户组</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <form class="layui-form lake-admin-search-form" method="get" lay-filter="lake-admin-search-from">
                <div class="layui-inline">
                        <select name="field" class="lake-admin-search-field">
                            <option value="">全部类型</option>
                            <option value="title">名称</option>
                            <option value="description">描述</option>
                        </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="keyword" class="layui-input lake-admin-search-val" placeholder="请输入关键字">
                </div>
                <div class="layui-inline">
                    <a class="layui-btn lake-admin-search-btn" data-type="search">搜索</a>
                </div>
            </form>
        </blockquote>
    
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/html" id="toolbarTop">
    <div class="layui-btn-container">
        {if laket_auth(['admin.auth-group.add'])}
            <a class="layui-btn layui-btn-sm layui-iframe" href="{:laket_route('admin.auth-group.add')}" title="添加用户组">添加用户组</a>
        {else}
            <a href='javascript:;' class="layui-btn layui-btn-sm layui-btn-disabled">添加用户组</a>
        {/if}
        <a class="layui-btn layui-btn-sm layui-btn-normal" href="{:laket_route('admin.auth-group.index')}">用户组结构</a>
    </div>
</script>

<script type="text/html" id="barTool">
    {{#  if(d.parentid == "0"){ }}
        <a class='layui-btn layui-btn-xs layui-btn-danger layui-btn-disabled'>不可操作</a>
    {{#  } else { }}
        {if laket_auth(['admin.auth-group.edit'])}
            <a href='{:laket_route("admin.auth-group.edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-iframe" title="编辑用户组">编辑</a>
        {else}
            <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">编辑</a>
        {/if}
        
        {if laket_auth(['admin.auth-group.delete'])}
            <a href='{:laket_route("admin.auth-group.delete")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
        {else}
            <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">删除</a>
        {/if}
    {{#  } }}
</script>

<script type="text/html" id="access">
    {{#  if(d.parentid == "0"){ }}
        <a class='layui-btn layui-btn-xs layui-btn-danger layui-btn-disabled'>不可操作</a>
    {{#  } else { }}
        {if laket_auth(['admin.auth-group.access'])}
            <a class="layui-btn layui-btn-xs layui-iframe" href="{:laket_route('admin.auth-group.access')}?group_id={{d.id}}" title="访问授权">访问授权</a>
        {else}
            <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">访问授权</a>
        {/if}
    {{#  } }}
</script>

<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}
        <span class="layui-badge-dot layui-bg-green"></span>
        <span class="text-green">启用</span>
    {{#  } else { }}
        <span class="layui-badge-dot layui-bg-orange"></span>
        <span class="text-orange">禁用</span>
    {{#  } }}
</script>

<script>
layui.config({
    base: "admin/js/layui-extend/"
}).use(['table', 'notice'], function() {
    var table = layui.table,
        notice = layui.notice,
        $ = layui.$;
    
    table.render({
        elem: '#table',
        toolbar: '#toolbarTop',
        url: '{:laket_route("admin.auth-group.all-data")}',
        method: 'get',
        parseData: function(res) {
            return {
                "code": res.code == 1 ? 0 : 1,
                "count": res.data.count,
                "data": res.data.list,
            };
        },
        cols: [
            [
                { field: 'listorder', align: 'center', width: 70, title: '排序', edit: 'text' },
                { field: 'title', width: 150, title: '名称'},
                { field: 'description', minWidth: 180, title: '描述' },
                { title: '授权', align: 'center', width: 100, templet: "#access" },
                { field: 'status', align: 'center', width: 80,title: '状态', templet: '#status' },
                { title: '操作', width: 160, toolbar: '#barTool' }
            ]
        ],
    });
    
    // 监听单元格编辑
    table.on('edit(table)', function(obj) {
        var value = obj.value,
            field = obj.field,
            data = obj.data;
        
        if (field == 'listorder') {
            var url = '{:laket_route("admin.auth-group.listorder")}';
            $.post(url, { 
                'id': data.id, 
                'value': value 
            }, function(data) {
                if (data.code == 1) {
                    notice.success(data.msg);
                    table.render();
                } else {
                    notice.error(data.msg);
                }
            }).error(function() {
                notice.error('请求失败！');
            });
        }
    });
    
    // 搜索
    $(".lake-admin-search-btn").on("click", function() {
        table.reload("table", {
            page: {
                curr: 1
            },
            where: {
                search_field: $(".lake-admin-search-field").val(),
                keyword: $(".lake-admin-search-val").val(),
            }
        })
    });
    
});
</script>
{/block}