{extend name="layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">添加管理员</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block w300">
                    <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">3-20位字符，可由字母和数字，下划线"_"及破折号"-"组成。</div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">E-mail</label>
                <div class="layui-input-block w300">
                    <input type="text" name="email" lay-verify="required|email" autocomplete="off" placeholder="E-mail" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">填写完整邮箱，如 xxx@163.com</div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block w300">
                    <input type="text" name="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                </div>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">昵称不能为空</div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">权限组</label>
                <div class="layui-input-block w300">
                    <select name="roleid" xm-select="roleid" xm-select-search="" lay-filter="roleid" lay-verify="required">
                        {volist name="roles" id="vo"}
                            <option value="{$vo['id']}">{$vo['title']}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-block w300">
                    <div class="layui-inline">
                        <div class="js-upload-image">
                            {php}echo HtmlForm::images('avatar','',0){/php}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block w300">
                    <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用" value="1" checked>
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit" lay-close="self">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<link rel="stylesheet" href="admin/libs/formSelects-v4/formSelects-v4.css" />
<script src="admin/libs/formSelects-v4/formSelects-v4.js"></script>
<script type="text/javascript">
$(function() {
    var formSelects = layui.formSelects;
    
    formSelects.value('roleid');
});

</script>
{/block}