{extend name="laket-admin::common.layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">管理员授权</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post" action="{:laket_route('admin.admin.access-save')}">
            <input type="hidden" name="id" value="{$data.id}" />
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block w300">
                    <input type="text" disabled lay-verify="required" autocomplete="off" placeholder="用户名" class="layui-input" value="{$data.name}">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">权限组</label>
                <div class="layui-input-block w300">
                    <select name="roleid" xm-select="roleid" xm-select-search="" lay-filter="roleid">
                        {volist name="roles" id="vo"}
                            <option value="{$vo['id']}" {if in_array($vo['id'], $data['gids']) }selected{/if}>{$vo['spacer']|raw|default=""} {$vo['title']}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-block">
                    <div class="layui-form-mid layui-word-aux">选择授权给账号的用户组</div>
                </div>
            </div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit" lay-close="self">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<link rel="stylesheet" href="{:laket_assets('js/formSelects-v4/formSelects-v4.css')}" />
<script src="{:laket_assets('js/formSelects-v4/formSelects-v4.js')}"></script>
<script type="text/javascript">
$(function() {
    var formSelects = layui.formSelects;
    
    formSelects.value('roleid');
});

</script>

{/block}