{extend name="$laket_admin_layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">管理员</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <form class="layui-form lake-admin-search-form" method="get" lay-filter="lake-admin-search-from">
                <div class="layui-inline">
                    <select name="field" class="lake-admin-search-field">
                        <option value="">全部类型</option>
                        <option value="name">登录名</option>
                        <option value="email">邮箱</option>
                        <option value="nickname">昵称</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="keyword" class="layui-input lake-admin-search-val" placeholder="请输入关键字">
                </div>
                <div class="layui-inline">
                    <a class="layui-btn lake-admin-search-btn" data-type="search">搜索</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" href="{:laket_route('admin.admin.index')}">查看全部</a>
                </div>
            </form>
        </blockquote>
        
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-iframe" title="添加管理员" href="{:laket_route('admin.admin.add')}">添加管理员</a>
    </div>
</script>

<script type="text/html" id="nameTpl">
    <a class="text-green layui-iframe" title="管理员详情" href="{:laket_route('admin.admin.view')}?id={{ d.id }}">{{ d.name }}</a>
</script>

<script type="text/html" id="groupsTpl">
{{#  layui.each(d.groups, function(index, item){ }}
    <span class="layui-badge layui-bg-green">{{ item.title }}</span>
{{#  }); }}
</script>

<script type="text/html" id="statusTpl">
    {{#  if(d.status == 1){ }}
        <span class='layui-badge-dot layui-bg-green'></span>
        <span class='text-green'>启用</span>
    {{#  } else { }}
        <span class='layui-badge-dot layui-bg-orange'></span>
        <span class='text-orange'>禁用</span>
    {{#  } }}
</script>

<script type="text/html" id="barTool">
    {{#  if(d.id == "{:config('laket.password.super_id')}"){ }}
        <a href='{:laket_route("admin.admin.password")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-iframe" title="管理员密码">密码</a>
        <a href='{:laket_route("admin.admin.edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-iframe" title="管理员编辑">编辑</a>
    {{#  } else { }}
        <a href='{:laket_route("admin.admin.password")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-iframe" title="管理员密码">密码</a>
        <a href='{:laket_route("admin.admin.edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-iframe" title="管理员编辑">编辑</a>
        <a href='{:laket_route("admin.admin.access")}?id={{ d.id }}' class="layui-btn layui-btn-normal layui-btn-xs layui-iframe" title="管理员授权">授权</a>
        <a href='{:laket_route("admin.admin.delete")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
    {{#  } }}
</script>

<script type="text/javascript">
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarDemo',
        url: '{:laket_route("admin.admin.index-post")}',
        method: 'post',
        cols: [
            [
                { field: 'name', width: 120, title: '登录名', templet: '#nameTpl' },
                { field: 'email',width: 200, title: 'E-mail' },
                { field: 'nickname', title: '昵称' },
                { field: 'groups', width: 150, title: '所属用户组', templet: '#groupsTpl'},
                { field: 'last_login_time', width: 170, title: '最后登录时间' },
                { field: 'status', title: '状态', width: 80, templet: '#statusTpl' },
                { title: '操作', width: 220, toolbar: '#barTool' },
            ]
        ],
        page: {},
        limit: 10,
    });
    
    // 搜索
    $(".lake-admin-search-btn").on("click", function() {
        table.reload("table", {
            page: {
                curr: 1
            },
            where: {
                search_field: $(".lake-admin-search-field").val(),
                keyword: $(".lake-admin-search-val").val(),
            }
        })
    });
    
});
</script>
{/block}