@charset "utf-8";

::selection{
    color:#fff !important;
    background-color:#009688 !important;
}
::-moz-selection{
    color:#fff !important;
    background-color:#009688 !important;
}

/** 自定义滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,.15);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(128,135,139,.8);
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
    color: #b3b3b3;
}
input:-moz-placeholder, 
textarea:-moz-placeholder {
    color:#b3b3b3;
}
input::-moz-placeholder, 
textarea::-moz-placeholder {
    color:#b3b3b3;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
    color:#b3b3b3;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.h50{width:50px!important;}
.h80{height:80px!important;}
.h100{height:100px!important;}
.h120{height:120px!important;}
.h150{height:150px!important;}
.h180{height:180px!important;}
.h200{height:200px!important;}
.h230{height:230px!important;}
.h250{height:250px!important;}
.h280{height:280px!important;}
.h300{height:300px!important;}
.h330{height:330px!important;}
.h350{height:350px!important;}
.h380{height:380px!important;}
.h400{height:400px!important;}
.h450{height:450px!important;}
.h500{height:500px!important;}

.w50{width:50px!important;}
.w100{width:100px!important;}
.w120{width:120px!important;}
.w150{width:150px!important;}
.w200{width:200px!important;}
.w250{width:250px!important;}
.w300{width:300px!important;}
.w350{width:350px!important;}
.w400{width:400px!important;}
.w450{width:450px!important;}
.w500{width:500px!important;}
.w550{width:550px!important;}
.w600{width:600px!important;}
.w650{width:650px!important;}
.w700{width:700px!important;}
.w750{width:750px!important;}
.w800{width:800px!important;}
.w850{width:850px!important;}
.w900{width:900px!important;}
.w950{width:950px!important;}
.w1000{width:1000px!important;}
.w1050{width:1050px!important;}
.w1100{width:1100px!important;}

.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

.break-all {
  word-break: break-all;
  word-wrap: break-word;
}

.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-italic {
  font-style: italic !important;
}

.text-white {
    color: #fff !important;
}
.text-gray {
    color: #868e96 !important;
}
.text-secondary {
    color: #868e96 !important;
}
.text-light {
    color: #f8f9fa !important;
}
.text-dark {
    color: #343a40 !important;
}
.text-muted {
    color: #868e96 !important;
}
.text-danger {
    color: #d26a5c;
}
.text-info {
    color: #70b9eb;
}
.text-warning {
    color: #f3b760;
}
.text-success {
    color: #46c37b;
}
.text-primary {
    color: #5c90d2;
}

.text-red {
    color: #FF5722 !important;
}
.text-orange {
    color: #FFB800 !important;
}
.text-green {
    color: #009688 !important;
}
.text-cyan {
    color: #2F4056 !important;
}
.text-blue {
    color: #1E9FFF !important;
}
.text-black {
    color: #393D49 !important;
}
.text-gray {
    color: #666 !important;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.panel_box{ margin-bottom:5px;}
.panel{ text-align:center; height:90px;}
.panel_box a{display:block;overflow:hidden; height:80px; background-color:#f2f2f2 !important; }
.panel_icon{ width:40%; display: inline-block; line-height:80px; float:left; position:relative; height:100%;}
.panel_icon i{ font-size:50px !important; color:#fff; display: inline-block;}
.panel_word{ width:60%; display: inline-block; float:right; margin:13px 0 14px; }
.panel_word span{ font-size:25px; display:block; height:34px; }
.panel .admin-login-time{ font-size:15px; color:#1E9FFF; line-height:34px;}
.panel em{ font-style:normal;}

/*百度上传*/
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    display: inline-block;
    position: relative;
    margin-right:15px;
    float: left;
}
.file-item.thumbnail .info{
    display: none;
}
.file-item.thumbnail .remove-picture{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 18px;
    color: #CA4949;
    cursor: pointer;
    display: none;
    z-index: 5;
}
.file-item.thumbnail .remove-picture:hover{
    color: #EC6969;
}
.file-item.thumbnail .move-picture{
    background: gainsboro;
    padding: 2px;
    cursor: move;
    color: #ABABAB;
    position: absolute;
    left: -6px;
    top: -5px;
    border-radius: 50%;
    display: none;
    z-index: 5;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.file-item.thumbnail:hover .remove-picture,
.file-item.thumbnail:hover .move-picture{
    display: block;
}
.file-item .progress.progress-xs{
    margin-bottom: 5px;
    margin-top: 5px;
}
.file-item .error,
.file-item .img-state{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.file-item .error{
    background: rgba(255, 0, 0, 0.67);
}
.file-item .success{
    background: rgba(25, 167, 75, 0.78);
}
.file-item .fa-check {
    color: #68C39F;
    margin-top: 3px;
}
.uploader-list .list-group-item img{
    width: 40px;
    height: 40px;
}

.progress.progress-mini {
    height: 5px;
}
.remove-margin {
    margin: 0 !important;
}
.progress {
    height: 24px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress.progress-mini .progress-bar {
    line-height: 5px;
}
.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-primary {
    background-color: #ff6b6b;
}
.progress-bar-primary {
    background-color: #5c90d2;
}
.progress-bar {
    line-height: 24px;
    font-weight: 600;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.sortable-ghost{opacity:.4}
.uploader-list .thumbnail>img {
    cursor: zoom-in;
}

/* 安装模块详情 */
.lake-admin-module-icon {
    overflow: hidden;
}
.lake-admin-module-icon img {
    width: 90%;
}
.lake-admin-module-name {
    font-weight: bold;
    font-size: 22px;
}
.lake-admin-module-name .lake-admin-module-ver {
    font-size: 18px;
}
.lake-admin-module-author {
    margin-top: 10px;
}
.lake-admin-module-authoremail {
    margin-top: 3px;
}
.lake-admin-module-introduce {
    font-size: 16px;
    margin: 15px 0 5px 0;
}

.lake-admin-auth-manager-access  {
    border: 1px solid #D2D2D2;
    border-radius: 2px;	
    padding: 5px 0 15px 3px;
    max-height: 500px;
    overflow-y: scroll;
}

.lake-admin-container {padding: 15px;background-color: #F2F2F2; }

.layui-table-view{overflow: auto;}
.layui-form-field-label{display: block; padding:3px 0px; font-weight: 400; line-height: 20px; }

@media screen and (max-width: 450px) {
    .layui-form-item .layui-input-inline {
        margin: 0px 0px 10px 0 !important;
        width: 100% !important;
    }
}
@media screen and (max-width: 750px) {
    .lake-admin-search-form .layui-btn,
    .lake-admin-search-form .layui-btn+.layui-btn,
    .layui-elem-quote .layui-btn {
        width: 100% !important;
        margin-bottom: 5px !important;
        margin-left: 0 !important;
        float: none !important;
    }
    .lake-admin-search-form .layui-btn:last-child,
    .lake-admin-search-form .layui-btn+.layui-btn:last-child,
    .layui-elem-quote .layui-btn:last-child {
        margin-bottom: 0 !important;
    }
    .lake-admin-search-form .layui-inline {
        width: 100% !important;
        margin-bottom: 5px !important;
    }
    .lake-admin-search-form .layui-inline:last-child {
        margin-bottom: 0 !important;
    }
    
    .layui-form-item .layui-form-label {
        display: block !important;
        float: left !important;
        width: 100% !important;
        text-align: left !important;
        padding: 10px 0 !important;
    }
    .layui-form-item .layui-input-block {
        display: block !important;
        float: left !important;
        width: 100% !important;
        margin-left: 0 !important;
    }
    .layui-form-item .layui-inline {
        width: 100% !important;
        margin-bottom: 5px !important;
    }
    .layui-form-item .layui-input-inline {
        margin: 0px 0px 10px 0 !important;
        width: 100% !important;
    }
}
