{extend name="laket-admin::common.layout"/}

{block name="main"}
<style>
.layui-tab-content {
    padding: 15px;
}
.flash-icon img {
    height: 90%;
    padding: 3px;
    background-color: #eff1f7;
    border: 1px solid #dae1e7;
    border-radius: 3px;
}
.flash-icon img:hover {
    cursor: pointer;
}
.flash-title {
    position: relative;
    min-height: 54px;
}
.flash-title .flash-icon {
    width: 60px;
}
.flash-title .flash-name {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 70px;
}
@media screen and (max-width: 767px) {
    .flash-title {
        width: 200px !important;
    }
    .flash-title .flash-name {
        width: 150px !important;
    }
    .flash-description {
        width: 200px !important;
    }
}
</style>
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">闪存插件</div>
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <a href="{:laket_route('admin.flash.local')}">本地</a>
                </li>
                <li>
                    <a href="{:laket_route('admin.flash.index')}">已安装</a>
                </li>
            </ul>
            <div class="layui-tab-content">
                <blockquote class="layui-elem-quote">
                    <form class="layui-form lake-admin-search-form" method="get" action="">
                        <div class="layui-inline">
                            <select name="search_field" class="laket-admin-search-field">
                                <option value="">请选择搜索类型</option>
                                <option value="name" {if $searchField == 'name'}selected{/if}>插件包名</option>
                                <option value="title" {if $searchField == 'title'}selected{/if}>插件名称</option>
                            </select>
                        </div>
                        
                        <div class="layui-inline">
                            <input type="text" name="keywords" value="{$keywords|default=''}" class="layui-input laket-admin-search-val" placeholder="请输入关键字">
                        </div>
                        
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn laket-admin-search-btn">搜索</button>
                            <button type="button" class="layui-btn layui-btn-danger js-flash-action-btn"
                                data-url='{:laket_route("admin.flash.refresh")}'
                                data-name='{{ d.name }}'
                                data-confirm='你确认要刷新插件缓存吗？'
                                >刷新缓存</button>
                        </div>
                    </form>
                </blockquote>
            
                <div class="layui-table-responsive">

                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col width="230">
                            <col>
                            <col width="200">
                            <col width="200">
                            <col width="160">
                        </colgroup>
                        
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>描述</th>
                                <th>作者</th>
                                <th>安装时间</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                    
                        <tbody>
                            {volist name="list" id="vo"}
                                <tr>
                                    <td>
                                        <div class="flash-title">
                                            {if $vo['icon']}
                                            <div class="flash-icon">
                                                <img src="{$vo.icon}" width="55" class="js-flash-icon" />
                                            </div>
                                            {/if}
                                            
                                            <div class="flash-name">
                                                {if $vo['title']}
                                                    <div style="margin-bottom: 5px;">
                                                        {if $vo['homepage']}
                                                        <a href="{$vo.homepage}" target="_blank" title="点击查看主页">
                                                            <i class="iconfont icon-lianjie"></i>
                                                        </a>
                                                        {/if}
                                                        
                                                        <b class="break-all">{$vo.title}</b>
                                                    </div>
                                                {/if}
                                                
                                                {if !empty($vo['require'])}
                                                    <div class="flash-item-{:md5($vo['name'])}" style="display: none;"> 
                                                        <table class="layui-table my-0">
                                                            <colgroup>
                                                                <col width="200">
                                                                <col>
                                                            </colgroup>
                                                      
                                                            <thead>
                                                                <tr>
                                                                    <td>插件</td>
                                                                    <td>依赖版本</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {foreach $vo['require'] as $key => $vv}
                                                                <tr>
                                                                    <td>{$key|default="--"}</td>
                                                                    <td>{$vv|default="--"}</td>
                                                                </tr>
                                                                {/foreach}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    
                                                    <div class="break-all-word">
                                                        <a href="javascript:;"
                                                            class="text-muted js-flash-require" 
                                                            title="插件依赖"
                                                            data-title="{$vo['title']}"
                                                            data-name="{:md5($vo['name'])}"
                                                            >{$vo.name}</a>
                                                    </div>
                                                {else /}
                                                    <div class="text-muted break-all">{$vo.name}</div>
                                                {/if}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flash-description">
                                            <span class="break-all">{$vo.description}</span>
                                        </div>
                                        <div style="margin-top: 5px;">
                                            <span class="layui-badge layui-bg-green" title="适配系统版本">
                                                <i class="iconfont icon-label" style="font-size: 12px;"></i>
                                                {$vo.adaptation}
                                            </span>
                                            
                                            {if !empty($vo['install'])}
                                                {if $vo['upgrade'] == 1}
                                                    <span class="layui-badge layui-bg-blue" title="已安装版本">
                                                        <i class="iconfont icon-flag" style="font-size: 12px;"></i>
                                                        {$vo['install']['version']}
                                                    </span>
                                                    <span class="layui-badge layui-bg-danger" title="可更新版本">
                                                        <i class="iconfont icon-hotfill" style="font-size: 12px;"></i> 
                                                        {$vo.version}
                                                    </span>
                                                {else /}
                                                    <span class="layui-badge layui-bg-blue" title="已安装版本">
                                                        <i class="iconfont icon-flag" style="font-size: 12px;"></i> 
                                                        {$vo['install']['version']}
                                                    </span>
                                                {/if}
                                            {else /}
                                                <span class="layui-badge layui-bg-cyan" title="插件版本">
                                                    v {$vo.version}
                                                </span>
                                            {/if}
                                        </div>
                                    </td>
                                    <td>
                                        {if !empty($vo['authors'])}
                                            {php}$author = $vo['authors'][0];{/php}
                                            <div class="author-item">
                                                <div>
                                                    <i class="iconfont icon-yonghu" title="作者"></i>
                                                    <a href="{$author.homepage}" target="_blank">
                                                        {$author.name}
                                                    </a>
                                                </div>
                                                <div class="text-muted">
                                                    <i class="iconfont icon-mail" title="邮箱"></i>
                                                    {$author.email}
                                                </div>
                                            </div>
                                        {/if}
                                    </td>
                                    <td>
                                        {if !empty($vo['install'])}
                                            <div title="安装时间">
                                                <i class="iconfont icon-time"></i>
                                                {:date('Y-m-d H:i:s', $vo['install']['install_time'])}
                                            </div>
                                            
                                            {if !empty($vo['install']['upgrade_time'])}
                                                <div title="最后更新">
                                                    <i class="iconfont icon-shuaxin"></i>
                                                    {:date('Y-m-d H:i:s', $vo['install']['upgrade_time'])}
                                                </div>
                                            {/if}
                                        {else /}
                                            --
                                        {/if}
                                    </td>
                                    <td>
                                        {if empty($vo['install'])}
                                            {if laket_auth(['admin.flash.install'])}
                                                <a href="javascript:;"
                                                    class="layui-btn layui-btn-xs js-flash-action-btn" 
                                                    data-url="{:laket_route('admin.flash.install')}"
                                                    data-name='{$vo.name}'
                                                    data-confirm='你确认要安装该插件吗？'
                                                    >安装</a>
                                            {else}
                                                <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">安装</a>
                                            {/if}
                                        {else /}
                                            {if $vo['status'] == 1}
                                                {if laket_auth(['admin.flash.disable'])}
                                                    <a href="javascript:;"
                                                        class="layui-btn layui-btn-xs layui-btn-warm js-flash-action-btn" 
                                                        data-url="{:laket_route('admin.flash.disable')}"
                                                        data-name='{$vo.name}'
                                                        data-confirm='你确认要禁用该插件吗？'
                                                        >禁用</a>
                                                {else}
                                                    <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">禁用</a>
                                                {/if}
                                            {else /}
                                                {if laket_auth(['admin.flash.enable'])}
                                                    <a href="javascript:;"
                                                        class="layui-btn layui-btn-xs layui-btn-normal js-flash-action-btn" 
                                                        data-url="{:laket_route('admin.flash.enable')}"
                                                        data-name='{$vo.name}'
                                                        data-confirm='你确认要启用该插件吗？'
                                                        >启用</a>
                                                {else}
                                                    <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">启用</a>
                                                {/if}
                                            {/if}
                                        {/if}
                                        
                                        {if $vo['upgrade'] == 1}
                                            {if laket_auth(['admin.flash.upgrade'])}
                                                <a href="javascript:;"
                                                    class="layui-btn layui-btn-xs layui-btn-danger js-flash-action-btn" 
                                                    data-url="{:laket_route('admin.flash.upgrade')}"
                                                    data-name='{$vo.name}'
                                                    data-confirm='你确认要更新该插件吗？'
                                                    >更新</a>
                                            {else}
                                                <a href='javascript:;' class="layui-btn layui-btn-xs layui-btn-disabled">更新</a>
                                            {/if}

                                        {/if}
                                    </td>
                                </tr>
                            {/volist}
                            
                            {if $list->isEmpty()}
                                <tr>
                                    <td colspan="5" align="center">
                                        <div class="layui-none" style="padding: 10px 15px;color: #999;">无数据</div>
                                    </td>
                                </tr>
                            {/if}
                        </tbody>
                    </table>
            
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
layui.config({
    base: "{:laket_assets('js/layui-extend/')}"
}).use(['table', 'notice'], function() {
    var notice = layui.notice,
        $ = layui.jquery;

    $("body").on('click', ".js-flash-icon", function() {
        var icon = $(this).attr('src');
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            area: ['auto', '85%'],
            title: false,
            shadeClose: true,
            end: function(index, layero) {
                return false;
            },
            content: '<div style="display: flex;align-items: center;justify-content: center;text-align: justify;height: 100%;"><img src="' + icon + '" style="height: 100%;" /></div>',
        });
    });
    
    $("body").on('click', ".js-flash-require", function() {
        var name = $(this).data('name');
        var title = $(this).data('title');
        var require = $(".flash-item-" + name).html();
        
        layer.alert(require, {
            title: "插件依赖【" + title + "】",
            closeBtn: 0
        });
    });
    
    $("body").on('click', ".js-flash-action-btn", function() {
        var url = $(this).attr("data-url");
        var name = $(this).attr("data-name");
        var confirm = $(this).attr("data-confirm");
        
        layer.confirm(confirm, {
            title: '提示', 
            btn: ['确认', '取消']
        }, function(index){
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            
            $.post(url, {name: name},function(res){
                layer.close(loading);
                
                if (res.code === 1) {
                    notice.success(res.msg);
                    
                    setTimeout(function() {
                        location.reload();
                    }, 1800);
                } else {
                    notice.error(res.msg);
                }
            }).error(function() {
                layer.close(loading);
                notice.error('请求失败！');
            });
            
            layer.close(index);
        });
    });
});
</script>
{/block}