{extend name="laket-admin::common.layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">插件设置</div>
    <div class="layui-card-body">
        <div class="layui-tab">
            <div class="layui-tab-content lake-admin-tab-content">
                <form class="layui-form" action="{:laket_route('admin.flash.setting-save')}?name={$info['name']}" method="post">
                    {template file="laket-admin::common.inputItem" /}
                    
                    <div class="layui-form-item">
                        <div>
                            <button class="layui-btn" lay-submit="" lay-filter="formSubmit" lay-close="self">保存设置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}