{extend name="$laket_admin_layout"/}

{block name="main"}
<style>
.name-icon {
    height: 90%;
    padding: 3px;
    background-color: #eff1f7;
    border: 1px solid #dae1e7;
    border-radius: 3px;
}
</style>
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">闪存详情</div>
    <div class="layui-card-body">
        <div class="table-responsive">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col>
                </colgroup>
          
                <thead>
                    <tr>
                        <td>名称</td>
                        <td>内容</td>
                    </tr>
                </thead>
                <tbody>
                    {if !empty($data['icon'])}
                    <tr>
                        <td>图标</td>
                        <td>
                            <img src="{$data.icon}" class="name-icon js-name-icon" style="height: 50px;" />
                        </td>
                    </tr>
                    {/if}
                    
                    <tr>
                        <td>ID</td>
                        <td>{$data.id}</td>
                    </tr>
                    <tr>
                        <td>名称</td>
                        <td>{$data.title}</td>
                    </tr>
                    <tr>
                        <td>包名</td>
                        <td>{$data.name}</td>
                    </tr>
                    <tr>
                        <td>主页</td>
                        <td>
                            {if $data['homepage']}
                            <a href="{$data.homepage}" target="_blank" title="点击查看主页">
                                <i class="iconfont icon-lianjie"></i>
                            </a>
                            {/if}

                            {$data.homepage|default='--'}
                        </td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td>{$data.description}</td>
                    </tr>
                    <tr>
                        <td>关键字</td>
                        <td>
                            {foreach $data['keywordlist'] as $key => $vo}
                                <span class="layui-badge layui-bg-green">
                                    {$vo}
                                </span>
                            {/foreach}
                        </td>
                    </tr>
                    <tr>
                        <td>作者</td>
                        <td>
                            {if !empty($data['authorlist'])}
                            <table class="layui-table">
                                <colgroup>
                                    <col width="200">
                                    <col>
                                    <col width="200">
                                </colgroup>
                          
                                <thead>
                                    <tr>
                                        <td>作者</td>
                                        <td>邮箱</td>
                                        <td>开发角色</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $data['authorlist'] as $key => $vo}
                                    <tr>
                                        <td>
                                            <a href="{$vo['homepage']}" target="_blank">
                                                {$vo['name']|default="--"}
                                            </a>
                                        </td>
                                        <td>{$vo['email']|default="--"}</td>
                                        <td>{$vo['role']|default="--"}</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td>版本</td>
                        <td>{$data.version}</td>
                    </tr>
                    <tr>
                        <td>适配版本</td>
                        <td>{$data.adaptation}</td>
                    </tr>
                    <tr>
                        <td>排序</td>
                        <td>{$data.listorder}</td>
                    </tr>
                    <tr>
                        <td>安装时间</td>
                        <td>{:date('Y-m-d H:i:s', $data['install_time'])}</td>
                    </tr>
                    <tr>
                        <td>更新时间</td>
                        <td>
                            {if !empty($data['upgrade_time'])}
                                {:date('Y-m-d H:i:s', $data['upgrade_time'])}
                            {else}
                                --
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td>{$data.status == 1 ? '<span class="layui-btn layui-btn-xs">启用</span>' : '<span class="layui-btn layui-btn-danger layui-btn-xs">禁用</span>'}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}