<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>系统登录 - {:config('laket.admin.name')}</title>
    <base href="{:laket_assets('/')}" />
    <link rel="stylesheet" type="text/css" href="admin/js/layui/css/layui.css" />
    <link rel="stylesheet" href="admin/js/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="admin/css/login.css" />
</head>

<body class="login-bg">
    <div class="lake-admin-login">
        <div class="login-main">
            <div class="layui-elip">{:config('laket.admin.name')}</div>
            
            <form class="layui-form lake-admin-login-form" action="{:laket_route('admin.passport.login-check')}" method="post">
                <div class="layui-form-item">
                    <div class="layui-input-inline input-item">
                        <label for="name">用户名</label>
                        <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="账号" class="layui-input lake-admin-login-name">
                    </div>
                    
                    <div class="layui-input-inline input-item">
                        <label for="password">密码</label>
                        <input type="password" name="password" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input lake-admin-login-password">
                    </div>
                    
                    <div class="layui-input-inline input-item verify-box">
                        <label for="verify">验证码</label>
                        <input type="text" name="verify" lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input lake-admin-login-verify">
                        <img id="verify" src="{:laket_route('admin.passport.captcha')}" alt="验证码" title="点击刷新验证码" class="captcha" style="cursor: pointer;">
                    </div>
                    
                    <div class="layui-input-inline">
                        <button class="layui-btn login-btn" lay-filter="login" lay-submit>登 录</button>
                        <button class="layui-btn logining-btn" disabled="disabled">
                            登录中..
                        </button>
                    </div>
                </div>
            </form>
        
            <!-- laket-admin 是开源程序，建议在您的网站底部保留一个 laket-admin 的链接 -->
            <p class="lake-admin-copyright">
                Powered by <a href="https://github.com/deatil/laket-admin" target="_blank">laket-admin</a>
            </p>
        </div>
    </div>
    
    <script type="text/javascript" src="admin/js/md5.js"></script>
    <script type="text/javascript" src="admin/js/jsencrypt.js"></script>
    <script type="text/javascript" src="admin/js/layui/layui.js"></script>
    <script type="text/javascript">
    ;(function(){
        if (self != top) {
            top.location.replace(location.href);
        }
    })();
    
    layui.use(['form', 'layer', 'jquery'], function() {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
            
        // 登录
        form.on("submit(login)", function(data) {
            var action = $(data.form).attr('action');
            var name = $(data.form).find('.lake-admin-login-name').val();
            var password = $(data.form).find('.lake-admin-login-password').val();
            var verify = $(data.form).find('.lake-admin-login-verify').val();

            var passkey = '{$publicKey}';
            
            // 密码加密
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey(passkey);
            var encryptedPwd = encrypt.encrypt(hex_md5(password));

            $(".login-btn").hide();
            $(".logining-btn").show();

            $.post(action, {
                'name': name,
                'password': encryptedPwd,
                'verify': verify,
            }, function (data) {
                $(".login-btn").show();
                $(".logining-btn").hide();
                
                if (data.code == 1) {
                    layer.msg(data.msg, {
                        offset: '15px',
                        icon: 1,
                        time: 1000
                    }, function() {
                        window.location.href = data.url;
                    });
                } else {
                    layer.msg(data.msg, { 
                        offset: '15px',
                        icon: 2 
                    });

                    // 刷新验证码
                    $("#verify").click();
                }
            }, "json").error(function() {
                $(".login-btn").show();
                $(".logining-btn").hide();
                
                layer.msg('请求失败！', { 
                    offset: '15px',
                    icon: 2 
                });
            });
            
            return false;
        });

        // 刷新验证码
        $("#verify").click(function() {
            var verifyimg = $("#verify").attr("src");
            $("#verify").attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
        });

        // 表单输入效果
        $(".login-main .input-item").click(function(e) {
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        })
        $(".login-main .input-item .layui-input").focus(function() {
            $(this).parent().addClass("layui-input-focus");
        })
        $(".login-main .input-item .layui-input").blur(function() {
            $(this).parent().removeClass("layui-input-focus");
            if ($(this).val() != '') {
                $(this).parent().addClass("layui-input-active");
            } else {
                $(this).parent().removeClass("layui-input-active");
            }
        })
    })
    </script>
</body>

</html>