{extend name="layout"/}

{block name="main"}
<div class="layui-card">
    <div class="layui-card-header layui-bg-cyan">角色</div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            <form class="layui-form lake-admin-search-form" method="get" lay-filter="lake-admin-search-from">
                <div class="layui-inline">
                        <select name="field" class="lake-admin-search-field">
                            <option value="">全部类型</option>
                            <option value="title">权限组</option>
                        </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="keyword" class="layui-input lake-admin-search-val" placeholder="请输入关键字">
                </div>
                <div class="layui-inline">
                    <a class="layui-btn lake-admin-search-btn" data-type="search">搜索</a>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn" href="{:url('index')}">查看全部</a>
                </div>
            </form>
        </blockquote>
    
        <div class="layui-form">
            <table class="layui-hide" id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script type="text/html" id="toolbarTop">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-iframe" href="{:url('create')}" title="添加角色">添加角色</a>
    </div>
</script>

<script type="text/html" id="barTool">
    {{#  if(d.id == 1){ }}
        <a class='layui-btn layui-btn-xs layui-btn-danger layui-btn-disabled'>不可操作</a>
    {{#  } else { }}
        <a href='{:url("edit")}?id={{ d.id }}' class="layui-btn layui-btn-xs layui-iframe" title="编辑角色">编辑</a>
        <a href='{:url("delete")}?id={{ d.id }}' class="layui-btn layui-btn-danger layui-btn-xs layui-tr-del">删除</a>
    {{#  } }}
</script>

<script type="text/html" id="titleTpl">
    {{ d.spacer }} {{ d.title }}
</script>

<script type="text/html" id="access">
    {{#  if(d.id == 1){ }}
        <a class='layui-btn layui-btn-xs layui-btn-danger layui-btn-disabled'>不可操作</a>
    {{#  } else { }}
        <a class="layui-btn layui-btn-xs layui-iframe" href="{:url('access')}?group_id={{d.id}}" title="访问授权">访问授权</a>
    {{#  } }}
</script>

<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}
        <span class="layui-badge-dot layui-bg-green"></span>
        <span class="text-green">启用</span>
    {{#  } else { }}
        <span class="layui-badge-dot layui-bg-orange"></span>
        <span class="text-orange">禁用</span>
    {{#  } }}
</script>

<script>
layui.use('table', function() {
    var table = layui.table,
        $ = layui.$;
    table.render({
        elem: '#table',
        toolbar: '#toolbarTop',
        url: '{:url("index")}',
        cols: [
            [
                { field: 'listorder', align: 'center', width: 70, title: '排序', edit: 'text' },
                { field: 'title', width: 200, title: '权限组', templet: '#titleTpl'},
                { field: 'description', title: '描述' },
                { title: '授权', width: 100, templet: "#access" },
                { field: 'status', width: 100,title: '状态', templet: '#status' },
                { title: '操作', width: 160, toolbar: '#barTool' }
            ]
        ],
        page: {},
        limit: 10,
    });
    
    // 监听单元格编辑
    table.on('edit(table)', function(obj) {
        var value = obj.value,
            field = obj.field,
            data = obj.data;
        
        if (field == 'listorder') {
            $.post('{:url("listorder")}', { 
                'id': data.id, 
                'value': value 
            }, function(data) {
                if (data.code == 1) {
                    layer.msg(data.msg);
                    table.render();
                } else {
                    layer.msg(data.msg);
                }
            });
        }
    });
    
    // 搜索
    $(".lake-admin-search-btn").on("click", function() {
        table.reload("table", {
            page: {
                curr: 1
            },
            where: {
                search_field: $(".lake-admin-search-field").val(),
                keyword: $(".lake-admin-search-val").val(),
            }
        })
    });
    
});
</script>
{/block}